<h1>Hi! Edit <%= @landmark.name %> landmark</h1>
<br>
<form action="/landmarks/<%= @landmark.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <p>Edit the name:</p> <br>
  <input type="text" name="landmark[name]" id="name" value="<%= @landmark.name %>">
  <br>
  <p>Edit year completed:</p>
  <input type="number" name="landmark[year_completed]" id="year_completed" value="<%= @landmark.year_completed %>">
  <br></br>
  <input type="submit" value="Edit Landmark" id="Edit Landmark">
</form>
